<h1>Demo#hello</h1>
<p>hello</p>

<a href="/demo/index">index</a>

<%= link_to('hello',{:action=>'hello'}) %>

<%= 1+1 %>
</br>
<% target="world" %>
<%= "hello  #{target}" %>
</br>

<%

#output in terminal
  3.times do
    puts "xxx"
  end
%>

<%  3.times do %>
<%= "xxx" %>
<%  end %>

<%  @array.each  do |n| %>
  <%= n %>
<%  end %>
